In [18]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows',100)

# Read a file

1. Before pulling up the file, I want to choose coltype because FIPS CODE is numerical code, but many programs recoginized as numerical code, so it deletes leading zero automatically.

In [14]:
# Preselect column type as object
coltype = {'SUMLEV':object,
          'STATE':object,
           'COUNTY':object,
          'PLACE':object,
          'COUSUB':object,
          'CONCIT':object,
          'PRIMGEO_FLAG':object}

In [15]:
pop_2018 = pd.read_csv("sub-est2018_all.csv",encoding="ISO-8859-1", dtype= coltype)

In [16]:
pop_2018.head()

,SUMLEV,STATE,COUNTY,PLACE,COUSUB,CONCIT,PRIMGEO_FLAG,FUNCSTAT,NAME,STNAME,...,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018
0,040,01,000,00000,00000,00000,0,A,Alabama,Alabama,...,4780138,4785448,4798834,4815564,4830460,4842481,4853160,4864745,4875120,4887871
1,162,01,000,00124,00000,00000,0,A,Abbeville city,Alabama,...,2688,2684,2677,2629,2612,2595,2588,2573,2566,2563
2,162,01,000,00460,00000,00000,0,A,Adamsville city,Alabama,...,4516,4510,4496,4474,4453,4432,4406,4373,4342,4325
3,162,01,000,00484,00000,00000,0,A,Addison town,Alabama,...,754,751,751,744,743,740,735,734,728,724
4,162,01,000,00676,00000,00000,0,A,Akron town,Alabama,...,356,355,345,345,341,339,337,332,332,330

In [12]:
# First, I want to find out how many state FIPS code. I know that it should be 51 including DC.
pop_2018['STATE'].nunique()

51

In [13]:
# There are 51 unique state codes, which is right.

In [26]:
pop_2018.groupby(['STATE', 'STNAME','COUNTY','PLACE']).agg(['count'])['NAME'].reset_index()

      STATE   STNAME COUNTY  PLACE  count
0        01  Alabama    000  00000      1
1        01  Alabama    000  00124      1
2        01  Alabama    000  00460      1
3        01  Alabama    000  00484      1
4        01  Alabama    000  00676      1
...     ...      ...    ...    ...    ...
46392    56  Wyoming    043  99990      1
46393    56  Wyoming    045  00000      1
46394    56  Wyoming    045  56215      1
46395    56  Wyoming    045  79125      1
46396    56  Wyoming    045  99990      1

[46397 rows x 5 columns]

In [30]:
pop_2018['COUNTY']=='000'

0         True
1         True
2         True
3         True
4         True
         ...
81431    False
81432    False
81433    False
81434    False
81435    False
Name: COUNTY, Length: 81436, dtype: bool

In [41]:
# find out how many county FIPS CODE
# Logic is in each state, COUNTY FIPS CODE with non-zero considers as county and place code is 00000
# CONSUB is 00000
county_df = pop_2018[(pop_2018['COUNTY']!='000')&(pop_2018['PLACE']=='00000')&(pop_2018['COUSUB']=='00000')]
county_df.reset_index(drop=True)

,SUMLEV,STATE,COUNTY,PLACE,COUSUB,CONCIT,PRIMGEO_FLAG,FUNCSTAT,NAME,STNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018
0,050,01,001,00000,00000,00000,0,A,Autauga County,Alabama,54571,54574,54754,55208,54936,54713,54876,54838,55242,55443,55601
1,050,01,003,00000,00000,00000,0,A,Baldwin County,Alabama,182265,182264,183111,186540,190143,194886,199189,202995,207712,212619,218022
2,050,01,005,00000,00000,00000,0,A,Barbour County,Alabama,27457,27457,27330,27350,27174,26944,26758,26294,25819,25158,24881
3,050,01,007,00000,00000,00000,0,A,Bibb County,Alabama,22915,22920,22872,22747,22664,22516,22541,22562,22576,22555,22400
4,050,01,009,00000,00000,00000,0,A,Blount County,Alabama,57322,57321,57373,57554,57570,57611,57521,57522,57517,57827,57840
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,050,56,037,00000,00000,00000,0,A,Sweetwater County,Wyoming,43806,43806,43574,43981,45005,45162,44957,44754,44275,43547,43051
3138,050,56,039,00000,00000,00000,0,A,Teton County,Wyoming,21294,21298,21297,21414,21625,22318,22777,23016,23161,23261,23081
3139,050,56,041,00000,00000,00000,0,A,Uinta County,Wyoming,21118,21121,21089,20893,20994,20953,20827,20770,20691,20456,20299
3140,050,56,043,00000,00000,00000,0,A,Washakie County,Wyoming,8533,8528,8530,8448,8408,8414,8275,8280,8168,8035,7885
3141,050,56,045,00000,00000,00000,0,A,Weston County,Wyoming,7208,7208,7199,7142,7077,7137,7138,7197,7213,6986,6967

In [42]:
print("There are {} County FIPS CODE in 2018 population data.".format(county_df.shape[0]))

There are 3142 County FIPS CODE in 2018 population data.

In [45]:
# After we have out how many county code, I want to find out how many counties are in each state and show top 5 states

county_code = county_df.groupby(['STATE', 'STNAME']).agg(['count'])['NAME'].\
sort_values(by='count', ascending=False).reset_index()

county_code.head()

  STATE    STNAME  count
0    48     Texas    254
1    13   Georgia    159
2    51  Virginia    133
3    21  Kentucky    120
4    29  Missouri    115

In [46]:
## I checked google and number are matched.

In [50]:
# find out how many PLACE FIPS CODE
# Logic is in each state, PLACE FIPS CODE with non-zero considers as city and COUNTY code is 00000
# CONCIT is 00000
city_df = pop_2018[(pop_2018['PLACE']!='00000')&(pop_2018['COUNTY']=='000')&(pop_2018['CONCIT']=='00000')]
city_df.reset_index(drop=True)

,SUMLEV,STATE,COUNTY,PLACE,COUSUB,CONCIT,PRIMGEO_FLAG,FUNCSTAT,NAME,STNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018
0,162,01,000,00124,00000,00000,0,A,Abbeville city,Alabama,2688,2688,2684,2677,2629,2612,2595,2588,2573,2566,2563
1,162,01,000,00460,00000,00000,0,A,Adamsville city,Alabama,4522,4516,4510,4496,4474,4453,4432,4406,4373,4342,4325
2,162,01,000,00484,00000,00000,0,A,Addison town,Alabama,758,754,751,751,744,743,740,735,734,728,724
3,162,01,000,00676,00000,00000,0,A,Akron town,Alabama,356,356,355,345,345,341,339,337,332,332,330
4,162,01,000,00820,00000,00000,0,A,Alabaster city,Alabama,30352,31091,31186,31346,31653,31946,32149,32739,32984,33223,33340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19490,162,56,000,81300,00000,00000,0,A,Wamsutter town,Wyoming,451,451,450,454,462,488,510,502,494,486,478
19491,162,56,000,83040,00000,00000,0,A,Wheatland town,Wyoming,3627,3627,3624,3622,3627,3626,3645,3650,3596,3565,3553
19492,162,56,000,84925,00000,00000,0,A,Worland city,Wyoming,5487,5487,5487,5435,5419,5420,5330,5334,5263,5173,5075
19493,162,56,000,85015,00000,00000,0,A,Wright town,Wyoming,1807,1807,1808,1808,1857,1851,1845,1870,1842,1742,1733
19494,162,56,000,86665,00000,00000,0,A,Yoder town,Wyoming,151,151,154,153,154,158,159,159,156,157,156

In [52]:
print("There are {} PLACE FIPS CODE in 2018 population data.".format(city_df.shape[0]))

There are 19495 PLACE FIPS CODE in 2018 population data.

In [51]:
city_code = city_df.groupby(['STATE', 'STNAME']).agg(['count'])['NAME'].\
sort_values(by='count', ascending=False).reset_index()

city_code.head()

  STATE        STNAME  count
0    17      Illinois   1298
1    48         Texas   1220
2    42  Pennsylvania   1013
3    19          Iowa    943
4    29      Missouri    942

In [58]:
# Combine county and city dataset
join_df = pd.merge(county_code, city_code, on=['STATE', 'STNAME'],suffixes=('_County', '_Place'))
join_df

   STATE                STNAME  count_County  count_Place
0     48                 Texas           254         1220
1     13               Georgia           159          538
2     51              Virginia           133          228
3     21              Kentucky           120          416
4     29              Missouri           115          942
5     20                Kansas           105          627
6     17              Illinois           102         1298
7     37        North Carolina           100          551
8     19                  Iowa            99          943
9     47             Tennessee            95          345
10    31              Nebraska            93          529
11    18               Indiana            92          567
12    39                  Ohio            88          931
13    27             Minnesota            87          853
14    26              Michigan            83          533
15    28           Mississippi            82          298
16    40              Oklahoma            77          589
17    05              Arkansas            75          501
18    55             Wisconsin            72          601
19    42          Pennsylvania            67         1013
20    01               Alabama            67          461
21    12               Florida            67          413
22    46          South Dakota            66          312
23    08              Colorado            64          271
24    22             Louisiana            64          304
25    36              New York            62          599
26    06            California            58          482
27    30               Montana            56          129
28    54         West Virginia            55          232
29    38          North Dakota            53          357
30    45        South Carolina            46          271
31    16                 Idaho            44          200
32    53            Washington            39          281
33    41                Oregon            36          240
34    35            New Mexico            33          105
35    02                Alaska            29          149
36    49                  Utah            29          247
37    24              Maryland            24          157
38    56               Wyoming            23           99
39    34            New Jersey            21          324
40    32                Nevada            17           19
41    23                 Maine            16           23
42    04               Arizona            15           91
43    50               Vermont            14           42
44    25         Massachusetts            14           54
45    33         New Hampshire            10           13
46    09           Connecticut             8           30
47    44          Rhode Island             5            8
48    15                Hawaii             5            1
49    10              Delaware             3           57
50    11  District of Columbia             1            1

In [59]:
join_df['Total FIPS CODE'] = join_df['count_County']+join_df['count_Place']

In [60]:
join_df

   STATE                STNAME  count_County  count_Place  Total FIPS CODE
0     48                 Texas           254         1220             1474
1     13               Georgia           159          538              697
2     51              Virginia           133          228              361
3     21              Kentucky           120          416              536
4     29              Missouri           115          942             1057
5     20                Kansas           105          627              732
6     17              Illinois           102         1298             1400
7     37        North Carolina           100          551              651
8     19                  Iowa            99          943             1042
9     47             Tennessee            95          345              440
10    31              Nebraska            93          529              622
11    18               Indiana            92          567              659
12    39                  Ohio            88          931             1019
13    27             Minnesota            87          853              940
14    26              Michigan            83          533              616
15    28           Mississippi            82          298              380
16    40              Oklahoma            77          589              666
17    05              Arkansas            75          501              576
18    55             Wisconsin            72          601              673
19    42          Pennsylvania            67         1013             1080
20    01               Alabama            67          461              528
21    12               Florida            67          413              480
22    46          South Dakota            66          312              378
23    08              Colorado            64          271              335
24    22             Louisiana            64          304              368
25    36              New York            62          599              661
26    06            California            58          482              540
27    30               Montana            56          129              185
28    54         West Virginia            55          232              287
29    38          North Dakota            53          357              410
30    45        South Carolina            46          271              317
31    16                 Idaho            44          200              244
32    53            Washington            39          281              320
33    41                Oregon            36          240              276
34    35            New Mexico            33          105              138
35    02                Alaska            29          149              178
36    49                  Utah            29          247              276
37    24              Maryland            24          157              181
38    56               Wyoming            23           99              122
39    34            New Jersey            21          324              345
40    32                Nevada            17           19               36
41    23                 Maine            16           23               39
42    04               Arizona            15           91              106
43    50               Vermont            14           42               56
44    25         Massachusetts            14           54               68
45    33         New Hampshire            10           13               23
46    09           Connecticut             8           30               38
47    44          Rhode Island             5            8               13
48    15                Hawaii             5            1                6
49    10              Delaware             3           57               60
50    11  District of Columbia             1            1                2